{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/transacoes.css' %}">
{% endblock %}

{% block content %}

<section class="transacao-container">
  <div class="transacao-card">

    <div class="transacao-header">
      <h1>Editar transação</h1>
      <p>Atualize os dados dessa transação</p>
    </div>

    <form method="POST" class="transacao-form">
      {% csrf_token %}

      <div class="form-group">
        <label for="{{ form.valor.id_for_label }}">Valor</label>
        {{ form.valor }}
      </div>

      {% if categoria_fixa %}
        <div class="form-group">
          <label>Categoria</label>

          <input type="text"
                class="form-control"
                value="{{ categoria_fixa.nome }}"
                disabled>

          <small class="text-muted">
            Esta transação será adicionada nesta categoria.
          </small>
        </div>
      {% else %}
        <div class="form-group">
          <label for="{{ form.categoria.id_for_label }}">Categoria</label>
          {{ form.categoria }}
        </div>
      {% endif %}

      <div class="form-group">
        <label for="{{ form.data.id_for_label }}">Data</label>
        {{ form.data }}
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-primary">
          Salvar alteração
        </button>

        <a href="{% url 'listar_transacoes' %}" class="btn-secondary">
          Cancelar
        </a>
      </div>

    </form>

  </div>
</section>

{% endblock %}