{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<section class="dashboard">

    <header class="dashboard-header">
        <h1>Dashboard</h1>
        <p class="subtitle">Visão geral das suas finanças</p>
    </header>

    <!-- Cards resumo -->
    <div class="dashboard-cards">
        <div class="dashboard-card negative">
            <span class="card-label">Gasto no mês</span>
            <strong>R$ {{ total_gasto_mes }}</strong>
        </div>

        <div class="dashboard-card positive">
            <span class="card-label">Recebido no mês</span>
            <strong>R$ {{ total_entrada_mes }}</strong>
        </div>

        <div class="dashboard-card balance">
            <span class="card-label">Saldo do mês</span>
            <strong>R$ {{ saldo_mes }}</strong>
        </div>
        </div>

        <!-- Gráficos -->
        <div class="dashboard-charts">
        <div class="chart-card">
            <h2>Gastos por categoria</h2>

            <div class="chart-container">
                <canvas id="graficoPizza"></canvas>
            </div>
        </div>

        <div class="chart-card">
            <h2>Evolução mensal dos gastos</h2>

            <div class="chart-container">
                <canvas id="graficoLinha"></canvas>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/graficos.js' %}"></script>

<script>
    criarGraficoPizza(
        "graficoPizza",
        {{ categorias|safe }},
        {{ valores|safe }}
    );

    criarGraficoLinha(
        "graficoLinha",
        {{ meses|safe }},
        {{ totais|safe }},
        "Gastos Mensais"
    );
</script>
{% endblock %}